.input {
  &__wrapper {
    margin: 0 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    label {
    }

    input {
      padding: 10px;
    }
  }
}
